<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link
            type="text/css"
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@materializecss/materialize/dist/css/materialize.min.css"
        />
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@materializecss/materialize/dist/js/materialize.min.js"
        ></script>
    </head>

    <body>
        <div class="container">
            {{> (lookup . "content")}}
        </div>
    </body>
</html>