<nav class="orange">
    <div class="nav-wrapper">
        <ul class="left">
            <a href="javascript:history.back()" class="left">
                <i class="material-icons">arrow_back</i>
            </a>
        </ul>
        <ul class="center brand-logo">{{functionDescriptor}}</ul>
    </div>
</nav>