{{! TODO: scroll list after x entries }}
{{! overview just shows function name, maybe file name, crap score }}
{{! detail page shows coverage info, complexity, code snippet }}
<ul class="collection with-header">
    {{#each functions}}

        <li class="collection-item">
            <span class="title">{{this.functionDescriptor}} ({{this.filePath}})</span>

            <span>
                CRAP:
                {{decimal this.statements.crap}}
            </span>

            <a href="{{functionReportPath this.filePath this.fileIndex}}" class="secondary-content">
                <i class="material-icons">read_more</i>
            </a>
        </li>
    {{/each}}
</ul>