<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Materialize, see https://materializeweb.com -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/@materializecss/materialize@1.x/dist/css/materialize.min.css"
        />
        <script
            type="text/javascript"
            src="https://unpkg.com/@materializecss/materialize@1.x/dist/js/materialize.min.js"
        ></script>

        <style>{{{prismStyles}}}</style>
    </head>

    <body>
        {{> (header content)}}
        <div class="container">
            {{> (lookup . "content")}}
        </div>
    </body>
</html>